@import "variables";

.navbar {
    .nav-link {
        &.active {
            font-weight: bold; // Make active link bold
        }
    }
}

.nav-img {
    background-image: url("./Images/bg-image.jpg");
    height: 60vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply; /* Darkens the image by blending it with the background color */
    background-color: rgba(0, 0, 0, 0.5); /* Add a dark background color for blending */
    &.h1 {
        color: $white-color;
        font-size: 3rem;
        font-weight: bold;
        text-align: center;
        padding-top: 10rem;
        position: absolute;
        top: 80px;
        right: 0;
        width: 200px;
        height: 100px;
    }
}
